#map {
    height:400px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    }
#buttons {
    text-align:center;
    }

#dimtable, resulttable {
    padding-right: 10%;
    padding-left: 10%;
}

#trenchprofile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

#modalbut {
    padding: 5%;
    text-align:center;
}

#resulttable {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#resultmod {
    padding-left:400px;
    padding-right: 400px;
    padding-top:200px;
}